/* hero section css */

.section_gap {
  margin: 55px 0 30px 0;
}

.hero-section {
  height: 450px;
  font-family: "Work Sans", "sans-serif";
}
.hero_section_titles {
  font-family: "Work Sans", "sans-serif";
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 1.5rem;
}

.hero-section--heading {
  letter-spacing: normal;
  font-weight: 800;
  font-size: 1.625rem;
  text-align: center;
  padding: 26px var(--mb-side-space);
}
.hero-section--sub_heading {
  letter-spacing: normal;
  text-align: center;
  padding: 0 var(--mb-side-space);
  margin-bottom: 4rem;
}
.hero-section--btn {
  font-size: var(--font-normal);
  text-align: center;
  width: 100%;
  display: block;
  margin: 10px 0;
}

.btn-purple:hover {
  background-color: #3e3fa3;
  color: #ffff;
}
.btn-transparent:hover {
  background-color: #5c565625;
}

/* <-----------Hire a pro section --------------> */

.pro_section_card-wrapper {
  position: relative;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.pro_section_card-wrapper:active,
.pro_section_card-wrapper:hover,
.pro_section_card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  width: 100%;
  height: 347px;
  overflow: hidden;
  cursor: pointer;
}
.pro_section_card_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 5;
}
.pro_section_card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in;
}
.pro_section_card_image img:hover {
  opacity: 0.6;
  transition: 0.5s;
}

.hire_pro_title {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.hire_pro_title h2 {
  color: #fff;
  text-align: center;
}
.slick-next {
  right: 28px;
  z-index: 100;
}
.slick-prev {
  left: 0;
  z-index: 100;
}
.hire_pro_section {
  /* background: url('../components/images/right-arrow-angle-svgrepo-com.svg'); */
  display: block;
  width: 100%;
  overflow: hidden;
}
/* end */

.hire_pro_section .slick-slider .slick-arrow {
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%);
  border: 0;
  font-size: 16px;
  line-height: 100%;
}

.hire_pro_section .slick-slider .slick-prev::before {
  content: "";
  display: block;
  /* display: inline-block; */
  background: url("../components/images/arrowhead-thin-outline-to-the-left-svgrepo-com\ \(1\).svg")
    no-repeat;
  background-size: 16px 44px;
  z-index: 1000;
  color: #000;
  margin-left: 14px;
  height: 100%;
  margin-top: 3px;
}
.hire_pro_section .slick-slider .slick-prev {
  left: 20px;
  top: 50%;
  transform: translateX(-50%);
}
.hire_pro_section .slick-slider .slick-next {
  right: -30px;
  top: 50%;
  transform: translateX(-50%);
}
.hire_pro_section .slick-slider .slick-next::before {
  content: "";
  display: block;
  /* display: inline-block; */
  background: url("../components/images/right-arrow-angle-svgrepo-com.svg")
    no-repeat;
  background-size: 15px 44px;
  z-index: 1000;
  color: #000;
  margin-left: 18px;
  height: 100%;
  margin-top: 3px;
}

/* .slick-prev:before,
.slick-next:before {
  font-size: 3rem;
  height: 1rem;
  width: 1rem;
  background-color: #000;
  text-align: center;
  border-radius: 500px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
  color: #fff;
} */

.pro_section_rows {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.pro_section_columns {
  flex: 0 1 15rem;
}

.pro_section_columns img {
  width: 284px;
  height: 242px;
  object-fit: cover;
}
.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* <-----------How we work section------------> */

.how_we_work_section {
  height: 650px;
  background-color: #f1fdf7;
}
.work_section_title {
  text-align: center;
  padding: 0 10px;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 0 20px 0;
}
.work_section_title_table {
  display: none;
}
.work_section_helper {
  display: flex;
  margin: 30px 0 0 0;
}
.work_section_helper i {
  font-size: 1.2rem;
  padding: 5px 0;
}
.work_section_content {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 10px;
}
.work_tick_mark {
  margin: 10px;
}
.work_section_video {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
.work_section_video_wrapper {
  position: relative;
  margin-top: 40px;
  margin-bottom: 60px;
}
.how_we_work_section .work_section_video_wrapper::after {
  content: "";
  display: inline-block;
  background: url(http://localhost:3000/images/play_button.png) no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* <-------------HOW to Get a Job/Service-----------> */

.how_to_get_job_section {
  position: relative;
  height: 580px;
  background: linear-gradient(
    97.63deg,
    rgba(88, 0, 211, 0.86) 51.61%,
    rgba(73, 0, 119, 0.9) 87.78%
  );
}
.how_to_get_job_title {
  color: #fff;
  font-size: 1.375rem;
  font-weight: 600;
}
.how_to_get_job_subtitle {
  /* style={{ color: "#FFF", fontSize: "1.125rem", fontWeight: "600" }} */
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
}
.how_to_get_job_img {
  display: none;
}
.find_work_section_content_wrapper {
  padding: 10px 0;
}
.find-work-content {
  display: flex;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 15px;
}
.find-work-content i {
  margin: 20px 10px 0 0;
}
.find_work_section_content_wrapper {
  padding-left: 20px;
}

.find_opportunity_btn {
  position: absolute;
  width: 90%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--font-normal);
}

/* <-----------Suitable Service Section--------->  */

.suitable_service_section {
  height: 390px;
  position: relative;
  /* width: 100%; */
  margin: 0;
  /* margin: 0 !important; */
}
.suitable_service_wrapper {
  height: inherit;
  width: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: start;
}
.suitable_service_title_break::before {
  content: "";
}

.suitable_service_img {
  position: absolute;
  height: 390px;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.suitable_service_title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 60px 30px;
}
.suitable_service--btn {
  position: absolute;
  width: 90%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
}

/* Our client Saying section */
.our_client_saying_section {
  position: relative;
  /* height: 540px; */
  height: 500px;
}
.client_saying_background {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: var(--clr-primary);
  z-index: -1;
  top: 60px;
  left: 0;
}
.client_saying_card {
  width: 285px;
  height: 500px;
}
.client_saying_img {
  position: absolute;
  width: 180px;
  height: 176px;
  border-radius: 50%;
  object-fit: cover;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
}
.client_saying_card_content {
  position: absolute;
  bottom: 30px;
  left: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
}
.client_saying_card__rating {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.client_saying_card__rating i {
  color: #fee407;
  font-size: 1.3rem;
}
.client_saying_card__title {
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.client_saying_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  background-color: #fff;
}
.client_saying_card_wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 450px) {
  .suitable_service_title {
    padding: 50px 70px 0 50px;
  }
  .suitable_service--btn {
    bottom: 50px;
  }
  .suitable_service_title_break::before {
    content: "";
  }
}
@media screen and (min-width: 500px) {
  /* Suitable Service Title line break */
  .suitable_service_title_break {
    content: "\a";
    white-space: pre;
  }
}

/*  <---------Responsive for small table------->*/
@media screen and (min-width: 600px) {
  .section_gap {
    margin: 90px 0 40px 0;
  }

  .hero-section--heading {
    text-align: left;
    padding: 100px 0 0 0;
    font-size: 1.75rem;
  }
  .hero-section--sub_heading {
    text-align: left;
    padding: 20px 0 0 0;
    font-size: 1rem;
    font-weight: 600;
  }
  .hero-section--btn {
    width: 200px;
    display: inline-block;
    margin: -20px 20px 0 0;
    /* padding: 0.75rem 3rem; */
    height: 48px;
    font-size: 1rem;
    font-weight: 600;
  }
  .hero-section {
    background: url("../components/images/HERO52.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
  }

  /* How we work section small table */
  .how_we_work_section {
    height: 680px;
  }

  .work_section_title {
    display: none;
  }
  .work_section_title_table {
    display: block;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    padding-top: 50px;
  }
  .work_section_video_wrapper img {
    height: 280px;
  }
  .work_section_content {
    font-size: 1rem;
    font-weight: 600;
  }

  .work_section_helper:nth-child(2) {
    padding: 1.6rem 0 0 0;
    margin: 0;
  }
  /* How to get a job/service section small tablet */
  .how_to_get_job_section {
    height: 500px;
  }
  .find_opportunity_btn {
    margin: 70px 0;
    /* display: block; */
    position: relative;
  }
  /* Suitable service provider section */
  .suitable_service_title_break {
    content: "\a";
    white-space: pre;
  }
}

@media screen and (min-width: 800px) {
  /* How we work section Tablet */

  .how_we_work_section {
    height: 460px;
  }
  .how_we_work_row {
    display: flex;
    height: 460px;
  }
  .work_section_title {
    display: none;
  }
  .work_section_helper {
    padding: 1.6rem 0;
  }
  .work_section_title_table {
    display: block;
    text-align: center;
    font-size: 1.375rem;
    font-weight: 600;
    padding-top: 50px;
  }
  .work_section_content {
    font-size: 1rem;
    font-weight: 600;
  }

  .work_section_video_wrapper {
    margin: 0;
    width: 100%;
  }
  .work_section_video_wrapper img {
    width: 100%;
    height: 100%;
  }

  .work_section_col {
    height: auto;
    flex-basis: 50%;
    margin: 50px 10px;
  }

  .work_section_helper {
    padding: 1rem 0 0 0;
    /* margin: 0;
    padding: 0; */
  }

  /* <---------How to get a job section Tablet-----------> */

  .how_to_get_job_section {
    height: 610px;
  }

  .how_to_get_job_section {
    display: flex;
  }
  .how_to_get_job_col {
    margin-left: 0 !important;
    flex-basis: 50%;
  }
  .how_to_get_job_img {
    height: 100%;
    display: block;
    background: url("../components/images/photo-1534665482403-a909d0d97c67.jpg");
    z-index: 50;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .how_to_get_job_title {
    font-family: "Work Sans", "sans-serif";
    font-size: 2.5rem;
    font-weight: 700;
  }
  .how_to_get_job_subtitle {
    font-size: 1.25rem;
    font-weight: 600;
  }
  .find-work-content {
    font-size: 1rem;
    font-weight: 600;
  }
  .work_section_helper:nth-child(1) {
    /* padding-top: 30px; */
  }
  /* .work_section_helper {
    padding: 0;
    margin: 0;
  } */
  .get_job--col2 {
    padding: 0 20px 0 20px;
  }

  /* Suitable service provider section */
  .suitable_service_title_break {
    content: "\a";
    white-space: pre;
  }

  /* <---------What our client saying about us section--------> */
  .client_saying_card {
    flex-basis: 55%;
  }
  .client_saying_background {
    top: 100px;
  }
  .client_saying_card_content {
    padding: 0 20px;
    bottom: 80px;
  }
}

/* /* <--------------Hero Section Responsive PC------------------>/ */

@media only screen and (min-width: 1200px) {
  .section_gap {
    margin: 130px 0 45px 0;
  }

  .hero-section--heading {
    text-align: left;
    padding: 100px 0 0 0;
    font-size: 3rem;
  }
  .hero-section--sub_heading {
    text-align: left;
    padding: 20px 0 0 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .hero-section--btn {
    width: 232px;
    display: inline-block;
    margin: 0 20px 0 0;

    height: 62px;
    font-size: 1.125rem;
    font-weight: 600;
  }
  .hero-section {
    background: url("../components/images/HERO52.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 590px;
  }
  .hero_section_titles {
    font-size: 2.25rem;
  }

  /* How we work section */
  .how_we_work_section {
    height: 492px;
  }
  .how_we_work_row {
    display: flex;
    height: 492px;
  }
  .work_section_title {
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
    font-weight: 700;
    text-align: left;
    display: block;
  }
  .work_section_title_table {
    display: none;
  }
  .work_section_content {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .work_section_video_wrapper {
    margin: 0;
    width: 100%;
  }
  .work_section_video_wrapper img {
    width: 100%;
    height: 100%;
  }
  .find_opportunity_btn {
    margin: 80px 0;
    /* display: block; */
    position: relative;
  }

  .work_section_col {
    height: auto;
    flex-basis: 50%;
    margin: 50px 10px;
  }

  .work_section_helper:nth-child(2) {
    padding: 3rem 0 0 0;
  }

  /* <---------How to get a job/service section PC-----------> */
  .how_to_get_job_section {
    height: 650px;
  }
  .how_to_get_job_section {
    display: flex;
  }
  .how_to_get_job_col {
    flex-basis: 50%;
  }
  .how_to_get_job_img {
    height: 100%;
    display: block;
    background: url("../components/images/photo-1534665482403-a909d0d97c67.jpg");
    z-index: 50;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .how_to_get_job_title {
    font-family: "Work Sans", "sans-serif";
    font-size: 3.25rem;
    font-weight: 700;
  }
  .how_to_get_job_subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .find-work-content {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .work_section_helper:nth-child(1) {
    padding-top: 30px;
  }
  /* .work_section_helper {
    padding: 0;
    margin: 0;
  } */
  .get_job--col2 {
    padding: 0 20px 0 20px;
  }
  /* <-----------Suitable Service Section Pc------------> */
  .suitable_service--btn {
    width: 300px;
    /* position: relative; */
    display: block;
    /* flex-basis: 100%; */
    padding: 1rem 2rem;
    left: 200px;
  }
  .suitable_service_title_break {
    content: "\a";
    white-space: pre;
  }

  /* <---------What our client saying about us section--------> */
  .our_client_saying_section {
    height: 340px;
  }
  .client_saying_card {
    flex-basis: 80%;
    height: 340px;
  }
  .client_saying_background {
    height: 290px;
    top: 30px;
  }
  .client_saying_img {
    height: 260px;
    width: 260px;
  }
  .client_saying_card_content {
    padding: 0 36px 0 345px;
    bottom: 32%;
  }
  .client_saying_card__title {
    /* top: 15%;
    left: 66%; */
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
  }
  .client_saying_card__rating {
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
  }
  .client_saying_img {
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
}
