.cardbox__linker {
  text-decoration: none !important;
}
.tutorBox__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
  max-width: 200px;
  max-height: 200px;
}

.text-info {
  color: #900303 !important;
  font-weight: 600;
}

.text-secondary {
  color: #6c757d !important;
}

.text-success {
  color: #05a903 !important;
}
