.admin_top_bar {
  background-color: #fff;
  position: sticky;
  height: 68px;
  border-bottom: 1px solid #e4e5e7;
  top: 0;
  z-index: 999;
}
.top_bar_icon_container {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
  color: #555;
}
.top_icon_badge {
  position: absolute;
  height: 18px;
  width: 18px;
  top: -6px;
  left: 12px;
  color: #fff;
  font-size: 14px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_bar_avatar {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}
